/*
** Anchors
**/
.anchor--dark{
    color: $gray-600;
}
.anchor--dark:hover, .anchor--dark:focus{
    color: black;   
}


/*
**Custom radio
*/
.custom-radio{
    display: block;
    padding: 0px;

    [type='radio']{
        width: 0px;
        height: 0px;
        visibility: hidden;
        display: none;
    }
    .content{
        width: auto;
        height: auto;
        padding: 5px var(--space-1);
        margin-right: var(--space-1);
        border: 1px solid $primary;
        color: $primary;
        border-radius: 5px;
    }

    [type='radio']:checked ~ .content{
        border: 1px solid $primary;
        color: white;
        background: $primary;
    }
}

/*
** Customize bootstrap breadcrum
*/
.breadcrumb-item.active{
    color: black !important;
}